body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: black;
}

header {
    background: #1e21e5;
    color: black;
    text-align: center;
    padding: 20px;
}

section {
    background: black;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
}

input {
    padding: 10px;
    width: 200px;
}

button {
    background: rgba(30, 216, 229, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    color: black;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgb(30, 149, 229);
}


section, .bus-card {
    background: rgba(255, 255, 255, 0.2); /* transparent glass */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 30px;
}
.bus-card1 {
    background: rgba(255, 255, 255, 0.2); /* transparent glass */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding:30px;
}


.seat-layout {
    display: flex;
    gap: 10px;
}

.seat {
    width: 40px;
    height: 40px;
    background: #4caf50;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}

.seat.booked {
    background: #e53935;
}

footer {
    text-align: center;
    padding: 15px;
    background: black;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("bus1.png"); /* your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: rgba(0, 0, 0, 0.838);
    padding: 30px;
    text-align: center;
}
input {
    background-color:#33333356;
    border: none;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    color: #000000;
    box-shadow: #333;
}

input::placeholder {
    color: black;
}
.container {
    backdrop-filter: blur(6px);
}

